@charset "utf-8";

.post-content > p > img {
  max-width: 100%;
}
section.home {
  background:radial-gradient(circle,#c203c5 0%,#4e02a7 80%);
  color:#fff;

  .container {
    display: flex;
  }

  .h1 {
    font-size: 6rem;
    color: white !important;
  }
  h3 {
    color: white !important;
    font-weight: bold;
  }

  @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }
    .h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: normal;
    }
  }
}

section.openup {
  text-align: center;
}

.wayland {
  display: flex;
  img {
    max-width: 300px;
    height: auto;
  }
}

.opensource {
  display: flex;
}

.adapting {
  max-width: 300px;
}

body {
  background-color: white;
  @media (prefers-color-scheme: dark) {
    background-color: black;
  }
}

.app-announcement {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.app-announcement.right {
  flex-direction: row-reverse;
}

.app-announcement img {
  max-width: 100%;
  min-width: 300px;
  flex-basis: 42%;
  height: auto;
  align-self: flex-start;
}

.app-announcement div {
  flex-basis: 58%;
}

.app-announcement img.shadow-true {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.app-announcement h2 {
  margin-top: 0;
}
.app-announcement.left img {
  margin-right: 2rem;
}
.app-announcement.right img {
  margin-left: 2rem;
}

@media (max-width: 900px) {
  .app-announcement, .app-announcement.right {
    flex-direction: column-reverse;
  }
  .app-announcement img, .app-announcement.left img, .app-announcement.right img {
    margin-bottom: 2rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    min-width: initial;
    display: block;
  }
}
